@keyframes backgroundAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Fondo animado base */
.animated-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(270deg, #130017, #410041, #130017);
  background-size: 400% 400%; /* Este es el tamaño grande para pantallas grandes */
  animation: backgroundAnimation 10s infinite ease-in-out;
  z-index: -1;
}

/* Para pantallas más grandes, el fondo se mantiene grande */
@media (min-width: 769px) {
  .animated-background {
    background-size: 400% 400%;
  }
}

/* Para pantallas medianas */
@media (max-width: 768px) {
  .animated-background {
    background-size: 200% 200%; /* Reducir el tamaño para pantallas más pequeñas */
  }
}

/* Para pantallas pequeñas, reducimos aún más el tamaño del fondo */
@media (max-width: 480px) {
  .animated-background {
    background-size: 150% 150%; /* Reducido para que no se vea cortado */
  }
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

